.form {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 0;
}

.text-field {
    padding: 1rem;
    border: 1px solid var(--light-color);
    border-radius: calc(var(--default-border-radius) / 2);
    background: var(--lighter-color);
    color: var(--dark-color);
}

.button {
    padding: 1rem;
    border: 1px solid var(--light-color);
    border-radius: calc(var(--default-border-radius) / 2);
    background: var(--lighter-color);
    color: var(--black-color);
    width: 100%;
}

.button:disabled {
    background: var(--white-color);
    color: var(--light-color);
}
