.form {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 0;
}

.text-field {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--light-color);
    border-radius: calc(var(--m-border-radius) / 2);
    background: var(--lighter-color);
    color: var(--dark-color);
}

.text-field-invalid {
    background: var(--negative-color);
}

.button {
    padding: 1rem;
    border: 1px solid var(--light-color);
    border-radius: calc(var(--m-border-radius) / 2);
    background: var(--lighter-color);
    color: var(--dark-color);
    width: 100%;
}

.button:active:not(:disabled) {
    background: var(--medium-color);
}

.button:disabled {
    background: var(--white-color);
    color: var(--light-color);
}
