:root {
  --white-color: hsl(20, 20%, 100%);
  --lighter-color: hsl(20, 20%, 90%);
  --light-color: hsl(20, 20%, 80%);
  --normal-color: hsl(20, 20%, 60%);
  --medium-color: hsl(20, 20%, 40%);
  --dark-color: hsl(20, 20%, 20%);
  --black-color: hsl(20, 20%, 0%);

  --positive-color: hsl(120, 50%, 80%);
  --negative-color: hsl(360, 50%, 80%);

  --xs-size: 4px;
  --s-size: 8px;
  --m-size: 16px;
  --l-size: 24px;
  --xl-size: 32px;

  --m-input-margin: 1rem;

  --m-border-radius: 16px;

  --xl-shadow: 0 0 var(--xl-size) var(--medium-color);
  --l-shadow: 0 0 var(--l-size) var(--medium-color);
  --m-shadow: 0 0 var(--m-size) var(--medium-color);
  --s-shadow: 0 0 var(--s-size) var(--medium-color);
  --xs-shadow: 0 0 var(--xs-size) var(--medium-color);
}

body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}