.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 359deg;
    }
}